.Input-field-text {
  width: 215px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin: 4px 0px;
  font-size: 14px;
  text-align: start;
}

@media (max-width: 796px) {
  .Input-field-text {
    width: 100%;
  }
  .input-label {
    font-size: 0.85em;
  }
}
