.text-input-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.Input-field-text {
  width: 215px;
  margin-bottom: 10px;
  padding: 9px;
  border: 1px solid #ccc;
}
.input-label {
  font-size: 16px;
  padding-top: 10px;
}
.error-message {
  color: red;
  margin: 4px 0px;
  font-size: 14px;
  text-align: start;
}

@media (max-width: 796px) {
  .text-input-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .Input-field-text {
    width: 100%;
    padding: 14px;
    font-size: 0.875rem;
  }
}
