/* General Button Styles */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
}

/* Primary Button Styles */
.btn.primary {
  background-color: #007bff;
  color: white;
}

.btn.primary:hover {
  background-color: #0056b3;
}

/* Secondary Button Styles */
.btn.secondary {
  background-color: #6c757d;
  color: white;
}

.btn.secondary:hover {
  background-color: #5a6268;
}

/* Disabled Button */
.btn.disabled {
  background-color: #d6d6d6;
  color: #888;
  cursor: not-allowed;
  width: 70%;
}

/* Button Sizes */
.btn.small {
  padding: 6px 12px;
  font-size: 12px;
}

.btn.medium {
  padding: 10px 20px;
  font-size: 16px;
}

.btn.large {
  padding: 14px 28px;
  font-size: 20px;
}

/* Custom Button Class*/
.custom-primary-button {
  background-color: #ff5733;
  border-radius: 8px;
}

.custom-large-button {
  border: 2px solid red;
  color: red;
}

/* Small Button */
.small-button {
  background-color: #ffcc00;
  color: black;
}

.btn.filter-button {
  border: 2px solid rgb(126, 184, 40);
  color: rgb(126, 184, 40);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 0;
  background-color: white;
}

.btn.selected-filter {
  background-color: rgb(126, 184, 40);
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 0;
}

.btn.custom-search-button {
  width: 70%;
  background-color: #ff5733;
  color: whitesmoke;
  margin: 0;
  border-radius: 0;
}
