.select-options {
  width: 200px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

@media (max-width: 796px) {
  .select-options {
    width: 100%;
    padding: 7px 8px;
    font-size: 0.85em;
  }
  .input-label {
    font-size: 0.85em;
  }
}
