.booking-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.booking-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin-bottom: 12px;

  background-color: #fff;
}

.booking-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.booking-number {
  font-size: 16px;
  font-weight: bold;
}

.vehicle-details {
  margin-left: 10px;
  color: #555;
}

.status-container {
  display: flex;
  align-items: center;
}

.status {
  font-weight: bold;
}

.status-booked {
  color: #ffb800;
}

.status-completed {
  color: #10b981;
}

.toggle-button {
  margin-left: 16px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
  color: black;
}
.toggle-button:hover {
  background: none;
}
.booking-details {
  margin-top: 16px;
  padding-bottom: 40px;
}

hr {
  border-color: #ccc;
}

.cancel-button {
  margin-top: 12px;
  background-color: none;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 10px;
}
