.image-description {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #000000;
  background-color: #f9f9f9;
}

.image-container img {
  height: 115px;
  width: 115px;
  object-fit: fill;
  margin-right: 20px;
}

.description-container {
  flex: 1;
  height: 120px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #007bff #f0f0f0;
}

.description-container h2 {
  margin: 0 0 10px;
}

.description-container p {
  margin: 0;
}
