.accordion {
  margin-bottom: 0;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-bottom: 5px;
  margin: 0 20px;
  width: calc(100% - 40px);
  position: relative;
  margin-top: 5px;
  gap: 20px;
}

.accordion-header-title {
  font-weight: bold;
}

.accordion-header-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 200px;
}

.accordion-toggle {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
}

.accordion-toggle-button {
  margin-left: 10px;
  background-color: transparent;
  color: gray;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 25px;
  margin-top: 5px;
}

.accordion-body {
  padding: 10px;
  background-color: #fff;
  border: none;
  margin-top: 0;
}

.accordion-body-content {
  padding: 10px;
  border: none;
  border-radius: 0;
}

.accordion-details {
  margin-bottom: 10px;
}

.accordion-actions {
  margin-top: 10px;
  text-align: right;
}

.accordion-header + .accordion-body {
  border-top: none;
}

@media (max-width: 768px) {
  .vehicle-details,
  .status {
    margin-left: 0;
  }

  .accordion-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .status {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .accordion-header {
    margin: 0 10px;
    width: calc(100% - 20px);
  }

  .status {
    width: 120px;
  }
}

@media (max-width: 350px) {
  .accordion-header {
    margin: 0 5px;
    width: calc(100% - 10px);
  }

  .status {
    width: 100px;
  }
}
